.botao{
    background-color: var(--amarelo);
    color: var(--branco);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 20px;
    box-shadow: 10px 10px  30px #ffcb473d;
    border: none;
}