.botao{
    background-color: var(--amarelo);
    color: var(--branco);
    text-align: center;
    font-family: inherit;
    width: 100%;
    padding: 20px;
    box-shadow: 10px 10px  30px #ffcb473d;
    border: none;
}

.botao--alternativo{
    color: var(--amarelo);
    border: 1px solid var(--amarelo);
    background-color: unset;

}