/*DEFININDO  O ESTILO DO INPUT*/
.input {
    color: inherit;
    font: inherit;
    font-size: inherit;
    width: 100%;
    padding : 1.75rem;
    border: none;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background-color: var(--branco);
    box-shadow: 10px 10px 30px  #0000000F;

}
/*DEFINDO O POSICIONAMENTO DO ICONE*/
.input--icone {
    padding-left: 4.5rem;
    background-repeat: no-repeat;
    background-position: left 1.75rem center;
}

/*MOSTRANDO O ICONE*/
.input--email {
    background-image: url(../../img/icones/mail.svg);
}